<div class="jumbotron" style="color: purple;">
    <div class="container">
        <h1 class="display-3">{{product.title}}</h1>
        <p class="lead">{{product.description}}</p>
        <hr class="my-2">
        <p class="lead">Price : {{product.price}}</p>
        <p-rating [ngModel]="product.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
        <button type="button" routerLink="edit" class="btn btn-primary">Edit</button>
        <button type="button" (click)="Navigate()" class="btn btn-secondary">Back</button>
        <br>
        <img style="max-width: 400px; max-height: 400px;" [src]="product.imageurl" alt="">
    </div>
</div>