<div class="container">
    <div basic-highlight>Basic Highlight Directive</div>
    <!-- <div better-highlight defaultColor="yellowgreen" >Better Highlight Directive</div> -->
    <div [better-highlight]="'yellow'" highlight="chartreuse" >Better Highlight Directive</div>
    <div class="row">
        <div class="col-md-1">
            Filter:
        </div>
        <div class="col-md-2">
            <input type="text" [(ngModel)]="filterText" class="form-control">
        </div>
        <div *unless="filterText.length==0" class="col-md-2 alert alert-info">
            {{filterText}}
        </div>
        <!-- <div *ngIf="filterText.length>0" class="col-md-2 alert alert-info">
            {{filterText}}
        </div> -->
        <!-- <ng-template [ngIf]="filterText.length>0">
            <div class="col-md-2 alert alert-info">
                {{filterText}}
            </div>
        </ng-template> -->
        <div class="col-md-1">
            <button type="button" (click)="ServiceTest()" class="btn btn-primary">Test Service</button>
        </div>
        <div class="col-md-4">
            <app-cart [products]="cartProducts"></app-cart>
        </div>
        

    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let prod of productList | filter : filterText : 'title'">
            <product-thumbnail [pd]="prod" (sd)="Received($event)"></product-thumbnail>
        </div>
    </div>
</div>