<div class="container">
    <div class="row">
        <div class="col-md-1">
            Filter:
        </div>
        <div class="col-md-2">
            <input type="text" [(ngModel)]="filterText" class="form-control">
        </div>
        <div *unless="filterText.length==0" class="col-md-2 alert alert-info">
            {{filterText}}
        </div>
        <!-- <div *ngIf="filterText.length>0" class="col-md-2 alert alert-info">
            {{filterText}}
        </div> -->
        <!-- <ng-template [ngIf]="filterText.length>0">
            <div class="col-md-2 alert alert-info">
                {{filterText}}
            </div>
        </ng-template> -->
        <div class="col-md-4">
            <app-cart [products]="cartProducts"></app-cart>
        </div>


    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let prod of productList">
            <!-- <product-thumbnail [routerLink]="['/productdetails',prod.id,prod.title]" [pd]="prod" (sd)="Received($event)"></product-thumbnail> -->
            <!-- <product-thumbnail [routerLink]="['/productdetails',prod.id,{title:prod.title,type:prod.type}]" [pd]="prod" (sd)="Received($event)"></product-thumbnail> -->
            <!-- <product-thumbnail [routerLink]="['/productdetails',prod.id]"
                [queryParams]="{title:prod.title,type:prod.type}" [pd]="prod" (sd)="Received($event)">
            </product-thumbnail> -->
            <!-- <product-thumbnail [routerLink]="['/productdetails',prod.id]"
                [fragment]="prod.title" [pd]="prod" (sd)="Received($event)">
            </product-thumbnail> -->
            <product-thumbnail [pd]="prod" (sd)="Received($event)"></product-thumbnail>
        </div>
    </div>
</div>