<div class="panel" style="color:purple">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a routerLink="new">Add Student</a>
                    </li>
                    <li class="list-group-item" >
                        <a routerLink="5858">Wrong URL</a>
                    </li>
                    <li class="list-group-item" *ngFor="let prod of productsList">
                        <a [routerLink]="[prod.id]">{{prod.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>