<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="container" style="background-color: slategrey;">
    <input type="hidden" formControlName="id">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <mat-error *ngIf="productForm.get('title').touched && productForm.get('title').errors?.required">Title is
                required</mat-error>
            <mat-error *ngIf="productForm.controls.title.errors?.minlength">Minimum length 3</mat-error>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select formControlName="typeId">
                    <mat-option *ngFor="let type of types" [value]="type.id">{{type.Type | uppercase}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-slide-toggle formControlName="availibility">Current Availability</mat-slide-toggle>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Release Date</mat-label>
            <input matInput formControlName="releaseDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
                *ngIf="productForm.get('releaseDate').touched && productForm.get('releaseDate').errors?.required">
                Release Date is required</mat-error>
        </mat-form-field>
        <div class="col-md-4">
            <mat-radio-group formControlName="safeFor" aria-label="Product Safe for">
                <mat-radio-button value="1">Kids</mat-radio-button>
                <mat-radio-button value="2">Adults</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-4">
            <mat-label style="margin-right: 10px;">Quality Score</mat-label>
            <mat-slider thumbLabel formControlName="qualityScore" [displayWith]="formatLabel" tickInterval="1000"
                min="0" max="100"></mat-slider>
        </div>
        <div class="col-md-4">
            <mat-label style="margin-right: 10px;">Tags</mat-label>
            <p-chips formControlName="tags" separator=","></p-chips>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" formControlName="price" class="example-right-align">
                <span matPrefix>₹&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
            <mat-error *ngIf="productForm.controls.price.errors?.range">Price should be between 0 and 100</mat-error>
        </div>
        <div class="col-md-4">
            <mat-label style="margin-right: 10px;">Rating</mat-label>
            <p-rating formControlName="rating" [cancel]="false"></p-rating>
            <!-- <input matInput formControlName="rating"> -->
            <mat-error *ngIf="productForm.controls.rating.errors?.min && productForm.controls.rating.touched">Minimum
                rating is 1</mat-error>
        </div>
    </div>
    <div class="card" style="background-color: slategrey;">
        <div class="row">
            <div class="col-md-2">
                <button type="button" (click)="AddImage()" class="btn btn-primary">Add Image</button>
            </div>
            <div class="col-md-4" formArrayName="imageurls" *ngFor="let control of imageUrls.controls;let i=index;">
                <mat-form-field appearance="fill">
                    <input matInput type="url" [formControlName]="i">
                </mat-form-field>
                <button mat-icon-button (click)="RemoveControl(i)">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-error *ngIf="imageUrls.controls[i].errors?.required && imageUrls.controls[i].touched">Image URL
                    Required</mat-error>
            </div>
        </div>
    </div>
    <div class="card" style="background-color: slategrey;">
        <div class="card-header">
            Address
        </div>
        <div class="col-md-2">
            <button type="button" (click)="AddSeller()" class="btn btn-primary">Add Seller</button>
        </div>
        <div class="card-body" formArrayName="Addresses" *ngFor="let group of Sellers.controls;let i=index">
            <div class="row" [formGroupName]="i">
                <input type="hidden" formControlName="id">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Line 1</mat-label>
                        <input matInput formControlName="AddLine1">
                        <!-- <mat-error *ngIf="Sellers.controls[i].controls.AddLine1.errors?.required && Sellers.controls[i].controls.AddLine1.touched">Address Line 1 is Required</mat-error> -->
                        <!-- <mat-error *ngIf="Sellers.controls[i].get('AddLine1').errors?.required && Sellers.controls[i].get('AddLine1').touched">Address Line 1 is Required</mat-error> -->
                        <mat-error
                            *ngIf="Sellers.get(i+'.AddLine1').errors?.required && Sellers.get(i+'.AddLine1').touched">
                            Address Line 1 is Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Line 2</mat-label>
                        <input matInput formControlName="AddLine2">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Line 3</mat-label>
                        <input matInput formControlName="AddLine3">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="City">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="State">
                    </mat-form-field>
                </div>
                <button mat-icon-button (click)="RemoveAddress(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>