<form #signUp="ngForm" (ngSubmit)="onSubmit(signUp.value)"
    class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput required minlength="3" ngModel name="FirstName" #FirstName="ngModel">
                <mat-error *ngIf="FirstName.errors?.required">First Name is required</mat-error>
                <mat-error *ngIf="FirstName.errors?.minlength">Minimum 3 chars required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input required matInput ngModel #LastName="ngModel" name="LastName">
                <mat-error *ngIf="LastName.errors?.required">Last Name is required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select name="RoleId" ngModel>
                    <mat-option value="1">Admin</mat-option>
                    <mat-option value="2">User</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput name="Address" ngModel></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" required emailMatch #Email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput name="EmailId" ngModel>
                <mat-error *ngIf="Email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="Email.errors?.pattern">Invalid Email Id</mat-error>
                <mat-error *ngIf="Email.errors?.emailMatch">Email Id is already registered</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" #Password="ngModel" name="Password"
                    ngModel>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="Password.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="Password.errors?.match">Both Passwords not matching</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput required #ConfirmPassword="ngModel" [type]="hide ? 'password' : 'text'"
                    name="ConfirmPassword" ngModel>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="ConfirmPassword.errors?.required">Confirm Password is required</mat-error>
                <mat-error *ngIf="ConfirmPassword.errors?.match">Both Passwords not matching</mat-error>
            </mat-form-field>
        </div>
    </div>
    <button type="submit" [disabled]="signUp.invalid" class="btn btn-primary">Submit</button>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</form>