<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="2" rowspan="1">
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/m2Zsdmg3UGI" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <iframe style="height:100%;width: 100%;" #iframe (load)="onLoad(iframe)"></iframe> -->
      <app-ifram-ex></app-ifram-ex>
    </mat-grid-tile>
  </mat-grid-list>
</div>