<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="home">Home</a>
      <a mat-list-item href="shop">Shop</a> -->
      <!-- <a mat-list-item [routerLink]="[{outlets:{primary:['home'],section1:['adholder'],section2:['adholder2']}}]">Home</a> -->
      <a mat-list-item [routerLink]="[{outlets:{primary:['home'],section1:['adholder']}}]">Home</a>
      <!-- <a mat-list-item routerLink="/shop">Shop</a> -->
      <a mat-list-item [routerLink]="[{outlets:{primary:['shop'],section1:['adholder2']}}]">Shop</a>
      <a mat-list-item *ngIf="us.userInfo?.role=='Admin'" routerLink="/productsmanager">Products Manager</a>
      <a mat-list-item routerLink="/signup">Sign Up</a>
      <a mat-list-item (click)="Login()">Log In</a>
      <a mat-list-item (click)="LogOut()">Log Out</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content color="accent">
    <mat-toolbar color="accent">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SplashBIApp</span>
    </mat-toolbar>
    <mat-progress-bar *ngIf="loading" class="example-margin" color="warn" mode="indeterminate">
    </mat-progress-bar>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="row">
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-1">
        <router-outlet name="section1"></router-outlet>
      </div>
      <div class="col-md-1">
        <router-outlet name="section2"></router-outlet>
      </div>
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>