<div class="card text-white bg-success" style="max-width: 350px; max-height: 400px;">
    <img *ngFor="let img of product.ImageUrls" class="card-img-top" [src]="img.imageUrl" alt="">
    <div class="card-body">
        <h4 class="card-title">{{product.title | uppercase}}</h4>
        <!-- {{product | json}} -->
        <p class="card-text">{{product.description | lowercase | shorten}}</p>
        <p class="card-text">{{product.price | currency : (product.currencycode?product.currencycode:'USD') : 'symbol' }}</p>
        <p class="card-text">{{date | date :'MM-dd-yyyy' }}</p>
        <button type="button" (click)="AddToCart()" class="btn btn-primary">Add To Cart</button>
        
    </div>
</div>